body {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    background: #222222;
    color: #FFFCF1;
    display: grid;
    grid-template-columns: 1fr repeat(4, 2fr) 1fr;
    grid-template-rows: 1fr 7fr 1fr;
    grid-gap: 1rem;
    margin: 0;
}
p {
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
    margin: 0 0 10px;
}
a {
    text-decoration: none;
    font-weight: 700;
}
p a {
    color: #FDCB56;
}
h1 {
    margin: .8em 0 0 .8em;
}
header {
    grid-column: 1 / span 4;
}
.hamburger {
    position: absolute;
    right: 2.5em;
    top: 2.5em;
    z-index: 3;
}
.hamburger div {
    width: 25px;
    height: 4px;
    background: #FFFCF1;
    margin: 0 0 6px;
    border-radius: 1px;
    transition-duration: .5s;
    /* Transition Duration from https://medium.com/@kswanie21/css3-animations-with-transitions-transforms-5a9c01e5efb5 */
}
.hamburger .top {
    transform: rotate(45deg);
    position: relative;
    top: 10px;
}
.hamburger .bottom {
    transform: rotate(-45deg);
    position: relative;
    top: -10px;
}
.hamburger .middle {
    opacity: 0;
}
nav {
    grid-column: 5 / span 2;
    grid-row: 1 / span 3;
    background: inherit;
    z-index: 1;
    display: none;
    opacity: 1;
    transition-duration: .4s;
    border: 10px solid #FFFCF1;
}
nav ul:nth-child(1) {
    margin: 5em 2em 0;
}
nav ul {
    padding: 0;
    margin: 3em 2em 0;
    text-align: right;
}
nav ul li {
    display: block;
}
nav ul li a {
    text-transform: capitalize;
    font-variant: small-caps;
    font-size: 1.5em;
    line-height: 2em;
    color: inherit;
}
.sub-menu {
    opacity: .8;
    font-size: .9em;
    line-height: 1em;
}
main {
    grid-row: 2 / span 2;
    grid-column: 2 / span 4;
    display: grid;
    grid-template-rows: 10fr 1fr;
    grid-template-columns: 1fr;
}
.game-board {
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(2, 4fr);
}
.card {
    border: 10px solid #FFFCF1;
    padding: 8%;
    text-align: center;
}
.back {
    background: url(images/card-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.card img {
    width: 72%;
    padding: 20% 0 0;
}
.score {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    text-align: center;
    letter-spacing: 1px;
}
.score h2, h3 {
    display: inline-block;
    margin-right: 10%;
}
.score h3:nth-child(3) {
    margin-right: 0;
}
.current-player {
    color: #FDCB56;
}
.award {
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
    padding: 0 40px;
    background: #222222;
    border: 10px solid #FFFCF1;
    color: #FDCB56;
    z-index: 2;
}
.award.winner {
    text-align: center;
    padding: 25%;
    font-size: 2.5em;
    letter-spacing: 2px;
}
/* awards next action buttons */
.winner a {
    background: #FFFCF1;
    color: #222222;
    padding: 5px 10px;
    margin: 15px;
    font-size: .5em;
    border-radius: 2px;
}
.closer {
    float: right;
    color: #FFFCF1;
    cursor: pointer;
    font-size: 1.5em;
    margin: 15px 0;
    padding: 10px;
}